<header class="header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-sm-0">
                <div class="logo">
                    <a routerLink="/"
                        ><img [src]="logoUrl" alt="logo"
                    /></a>
                </div>
            </div>

            <div class="col-lg-8 col-sm-6 text-end pr-0">
                <div class="header-content-right">
                    <ul class="header-contact">
                        <li>
                            <a [href]="homePageInfo?.phoneNumber"
                                ><i class="bx bxs-phone-call"></i>
                                {{ homePageInfo?.phoneNumber }}</a
                            >
                        </li>
                        <li>
                            <a [href]="homePageInfo?.email"
                                ><i class="bx bxs-envelope"></i>
                                {{ homePageInfo?.email }}</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6 text-end pl-0">
                <div class="header-content-right">
                    <ul class="header-social">
                        <li *ngFor="let social of socialLinks">
                            <a [href]="social.url" target="_blank">
                                <i [class]="social.iconClass"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="navbar-area">
    <div class="main-nav" ngStickyNav stickyClass="sticky-box-shadow">
        <div class="container">
            <nav
                class="navbar navbar-expand-lg navbar-light"
                [class.active]="classApplied"
            >
                <a class="navbar-brand d-none" routerLink="/">
                    <img src="assets/images/logo2.png" alt="logo" />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    (click)="toggleClass()"
                >
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </button>
                <div
                    class="collapse navbar-collapse mean-menu"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav text-left">
                        <li *ngFor="let item of menuItems" class="nav-item">
                            <!-- Çocuk öğesi olmayan birinci seviye öğe bağlantısı -->
                            <a
                                *ngIf="!item.children.length"
                                [routerLink]="item.link"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                            >
                            {{ 'navbar.' + item.label | translates | async }}
                            </a>

                            <!-- Çocuk öğeleri olan birinci seviye öğe -->
                            <a
                                *ngIf="item.children.length"
                                href="javascript:void(0)"
                                class="nav-link dropdown-toggle"
                            >
                                {{ item.label }}
                            </a>

                            <!-- Çok seviyeli alt menüleri oluşturmak için yeniden kullanılan şablon -->
                            <ul *ngIf="item.children.length" class="dropdown-menu">
                                <ng-container
                                    *ngTemplateOutlet="
                                        recursiveMenu;
                                        context: { $implicit: item.children }
                                    "
                                ></ng-container>
                            </ul>
                        </li>
                    </ul>

                    <!-- Alt kategorileri yönetmek için yeniden kullanılan şablon -->
                    <ng-template #recursiveMenu let-subItems>
                        <li *ngFor="let child of subItems" class="nav-item">
                            <!-- Daha fazla alt çocuğu olmayan bağlantı -->
                            <a
                                *ngIf="!child.children"
                                [routerLink]="child.link"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                            >
                                {{ child.label }}
                            </a>

                            <!-- Daha fazla alt çocuğu olan bağlantı -->
                            <a
                                *ngIf="child.children"
                                href="javascript:void(0)"
                                class="nav-link dropdown-toggle"
                            >
                                {{ child.label }}
                            </a>

                            <!-- İç içe geçmiş alt menü -->
                            <ul *ngIf="child.children" class="dropdown-menu">
                                <ng-container
                                    *ngTemplateOutlet="
                                        recursiveMenu;
                                        context: { $implicit: child.children }
                                    "
                                ></ng-container>
                            </ul>
                        </li>
                    </ng-template>
                </div>

                <div class="collapse navbar-collapse mean-menu" id="navbarLang">
                    <ul class="navbar-nav text-left">
                        <li class="nav-item">
                            <a
                                href="javascript:void(0)"
                                class="nav-link dropdown-toggle"
                            >
                                {{ languageDefaultName }}
                            </a>
                            <ul class="dropdown-menu">
                                <li
                                    *ngFor="let item of languages"
                                    class="nav-item"
                                >
                                    <a
                                        class="dropdown-item"
                                        href="#"
                                        (click)="selectLanguage(item)"
                                    >
                                        {{ item.name }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
