
<div class="page-title-area" >
</div>
<section class="home-case pt-100 pb-70">
  <div class="container">
    <div class="section-title">

      <h2>{{caseData?.title}}</h2>
      <p>{{caseData?.description}}</p>
    </div>
    <div class="row case-list">
      <div class="col-lg-4 col-sm-6" *ngFor="let caseStudy of caseData">
        <div class="single-case">
          <div class="case-img">
            <a [routerLink]="caseStudy?.link"><img [src]="caseStudy?.image"  /></a>
          </div>
          <div class="content">
            <a [routerLink]="caseStudy?.link">
              <h3>{{ caseStudy?.title }}</h3>
            </a>
            <p>{{ caseStudy?.description }}</p>
            <a [routerLink]="caseStudy?.link" class="line-bnt">{{'translates.details' | translates| async}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
